.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hr {
  width: 90vw;
}

.footer {
  font-style: oblique;
  font-weight: lighter;
}

#display {
  width: 80%;
  background-color: gainsboro;
  border-style: inset;
  border-radius: 5px;
  margin: 10px auto;
  color: black;
  padding: 10px;
}

#drum-machine {
  padding: 5px;
}

#drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  display: inline;
  padding: 15px 40px;
  text-align: center;
  background-color: snow;
  margin: 5px;
  border-width: thick;
  border-style: outset;
  color: black;
}
